<header>
  <dt-nav>
    <dt-logo slot="icon"></dt-logo>
    <a slot="title" href="/">dependently-typed</a>
    <span slot="subtitle">wiki</span>
    <li><a href="https://github.com/dependently-typed/wiki" target="_blank">github</a></li>
  </dt-nav>
</header>
