<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1">
                    
    <title>
      dependently-typed | wiki
      {% if title %}
        | {{ title }}
      {% endif %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/dtyped.css"/>
  </head>
  <body>
    <dt-theme-provider>
    {% include 'header.njk' %}
    <main>
      <div id="sidebar">
        {% markdown %}
          {%- include 'toc.md' -%}
        {% endmarkdown %}
      </div>
      <div id="app">
        {{ content | safe }}
      </div>
    </main>
    {% include 'footer.njk' %}
    </dt-theme-provider>
    <script src="/dist/index.js"></script>
  </body>
</html>
