dt-theme-provider {
  display: grid;
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;
}

main {
  margin: 48px 20%;
  display: grid;
  grid-template-columns: 250px minmax(0px, auto);
  grid-gap: 24px;
  line-height: 1.5;
  font-size: 16px;
}

pre {
  overflow: scroll;
}

@media (max-width: 1000px) {
  main {
    margin: 12px 5%;
    grid-template-columns: minmax(0px, auto);
    grid-template-rows: min-content;
    grid-gap: 0px;
  }
}
