dt-theme-provider {
  display: grid;
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;
}

main {
  margin: 48px 20%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 24px;
  line-height: 1.5;
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }

  header {
    padding: 8px 5%;  
  }

  header .title {
    font-size: 16px;
  }

  header .title .logo {
    height: 24px;
  }

  main {
    margin: 48px 5%;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }

  header .title {
    font-size: 12px;
  }

  header .title .logo {
    height: 16px;
  }
}
