dt-theme-provider {
  display: grid;
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;
}

main {
  margin: 48px 20%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 24px;
  line-height: 1.5;
  font-size: 16px;
}

pre {
  overflow: scroll;
}

@media (max-width: 500px) {
  main {
    margin: 12px 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-gap: 0px;
  }

  main > div {
    width: 100%;
  }
}
